<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <h4><%= @user.firstname.capitalize + " " + @user.lastname.capitalize %></h4>
      </div>
      <div class="panel-body">
        <ul>
          <li><h5><%= @user.email %></h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <h2 style="margin-bottom: 25px">Posts of <%= @user.fullname %></h2>
</div>

<% @user.posts.each do |post| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to post.title, post_path(post) %> <%= link_to post.user.fullname, user_path(post.user), class: "pull-right" %>
          </div>
          <div class="panel-body text-center">
            <h6><%= post.image %></h6>
            <h6><%= post.publish_date.strftime('%d/%m/%Y %H:%M') %></h6>
            <h5><%= post.heading %> </h5>
            <%= link_to 'Show', post, class: "btn btn-default" %>
            <% if current_user == post.user %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="center">
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %> |
  <%= link_to 'Back', users_path, class: "btn btn-default" %>
</div>
