<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to @post.title, post_path(@post) %>
        <%= link_to @post.user.fullname, user_path(@post.user), class: "pull-right" %>
      </div>
      <div class="panel-body">
        <ul>
          <li><h5><%= @post.image %></h5></li>
          <li><h5><%= @post.publish_date.strftime('%d/%m/%Y %H:%M') %></h5></li>
          <li><h5><%= @post.heading %></h5></li>
          <li><h5><%= @post.body %></h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %> |
  <%= link_to 'Back', posts_path, class: "btn btn-default" %>
</div>
